{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "flowtype"
  ],
  "rules": {
    "flowtype/define-flow-type": 1,
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
